@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    
body,
html {
    overflow-x: hidden;
    /* Empêche le défilement horizontal */
}
body{
    font-family: Poppins ;
}

canvas {
    max-width: 400px;
    max-height: 300px;
}

   
   
   /* Barre latérale réduite */
.hidden-sidebar {
    width: 5% !important;
}

/* Contenu principal étendu */
.content-full {
    width: 95%;
}

/* Contenu principal avec sidebar */
.content-with-sidebar {
    width: 82%;
}

/* Cacher les textes de la sidebar */
.hidden-sidebar .sidebar-text {
    display: none;
}

/* Réduction de l'image */
.hidden-sidebar .img1 {
    width: 100%;
    height: 15px;
}



.sidebar-item:hover .sidebar-text {
    display: inline-block;
    color: black;
    z-index: 1000;
    text-align: left; 
   
 }

/* Transition fluide */
#sidebar,
#mainContent {
    transition: all 0.3s ease;
}
table{
    z-index: 999;
}

